** Continue with the previous exercise. Start by importing the necessary libraries and loading the Adult dataset.**

# Feature encoding

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('./../data/adult/adult.csv')
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

## Check the columns data types

## Get the object columns and transform them to categorical

## Get the categorical columns into a `cat_cols` variable

## Build a new dataframe where all categorical column are replaced by their one-hot encoding

## Build a new dataframe where all categorical columns are replaced by their label encoding

Use the `astype('category').cat.codes` method to encode the categorical columns. This method will assign a number to each category in the column. For example, the column `workclass` has 9 categories. The first category will be assigned the number 0, the second category will be assigned the number 1, and so on. The `astype('category')` method will convert the column to a categorical column. The `cat.codes` method will assign a number to each category.

## Build a new dataframe where the `education` column is replaced by its ordinal encoding and the `education-num` column is dropped

# Feature scaling

## Standardize the hours-per-week column (suggestion: use the `StandardScaler` class from `sklearn.preprocessing`). Plot pre and post-scaling histograms. What is the tranformed value of a person working 40 hours per week?

## Use the `MinMaxScaler` class from `sklearn.preprocessing` to scale the `hours-per-week` column. Plot pre and post-scaling histograms. What is the tranformed value of a person working 40 hours per week?

## Use the `RobustScaler` class from `sklearn.preprocessing` to scale the `hours-per-week` column. Plot pre and post-scaling histograms. What is the tranformed value of a person working 40 hours per week?

# Feature transformation

## Find if  `hours-per-week` has outliers using the `IQR` method. If yes, transform the column using the `log` function. Plot the pre and post-transformation histograms. What is the tranformed value of a person working 40 hours per week?

## Transform the hours-per-week column using the `sqrt` function. Plot the pre and post-transformation histograms. What is the tranformed value of a person working 40 hours per week?

## Transform the hours-per-week column using a descritization method of your choice. Plot the pre and post-transformation histograms.

# Split  complex columns

Consider the following column:

# Feature selection

## Build a dataframe resulting from applying label encoding to all categorical columns

## Using correlation, which features give more information about the income of a person?

# Using a SVC classifier, build a model to predict the income of a person.
- Try different encoding methods for the categorical columns.
- Try limiting the number of features using the correlation matrix.

What is the accuracy of the model in each case?

### Label encoding case
#### Encode the categorical columns using label encoding

#### Define a method to select the best features using the correlation matrix

#### Define a method to train a SVC classifier and print the classification report given a dataframe and a list of features

#### Run the model with different thresholds for the feature selection

### One-hot encoding case
#### Encode the categorical columns using one-hot encoding